project_id          = "my-project-id"
region              = "us-central1"
zone                = "us-central1-a"
gke_node_subnet     = "10.1.0.0/16"
gke_pod_subnet      = "10.100.8.0/21"
gke_services_subnet = "10.100.16.0/21"
cluster_name        = "gke-ml-cluster"
vpc                 = "gke-ml-vpc"
accelerator_type    = "nvidia-tesla-t4"
